.navbar-brand{
    font-family:'Kalam Square Peg', cursive;
    margin-right: 3%;
    font-weight: 100;
    margin-left: 1%;
}

/* .banner{
    display: flex;
    width:100%;
    padding:15px;    
}

.banner h1{
    width:10%;
    margin-left:25px;
    font-size: 20%;
    font-size: 50px;
} */
 
#teaimg{
    height:50px;
    margin-left:5%;    
} 
