*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


 .loaderHolder{
    background-color: #FDFEFF;
    width:100%;
    height:150vh;
    position: absolute;
    z-index:5;
    opacity:.3;
    /* display: none; */
 }
.loader{
    width:2vw;
    height:2vw;
    position:relative;
    border-radius:50%;
    left:50%;
    top:50%;
    animation-name: loadermotion;
    animation-iteration-count: infinite;
    animation-duration:.5s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
} 

@keyframes loadermotion {
    0%  {background-color:red;
            transform: translateY(10px);}
    100%  {background-color:blue;
            transform: translateY(-10px);}
  }

.endContainer{
    display: flex;
    width: 100vw;
    justify-content: center;
}

.endOfResults{
font:'Roboto Flex' 20rem;
color:white;
text-align: center;
font-weight: 600;
max-width: 25vmax;
max-height:8vmax;   
padding:1vh;
opacity: 0;
background-color: linear;
border-radius:20px;
background: rgb(59,50,249);
background: linear-gradient(180deg, rgba(59,50,249,1) 0%, rgba(252,70,107,1) 100%);
cursor: pointer;
overflow: hidden;
}

.endOfResults:hover{ 
    opacity: .6;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.endOfResults a{
    color:white;
    text-decoration: none;
    height:100%;
    width:100%;
}